@tailwind base;
@tailwind components;
@tailwind utilities;


/* Full-page background */
body {
  @apply bg-cover bg-center bg-fixed;
  background-image: url('/bg.jpg'); /* your image in public/ */
}

/* Optional overlay for text readability */
.section-overlay {
  @apply bg-black/30; /* semi-transparent black overlay */
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-banner {
  animation: slide-left 18s linear infinite;
}

